 @charset "utf-8";

 /* 基本設定 */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}

.navbar navbar-dark bg-dark{
    margin-left:30px;

}

.navbar-brand{
    font-size:25px;
}

.navbar-toggler{
    margin-right:30px;
}


.fixed_btn{
font-size: 20px;
position: fixed;
bottom: 100px; 
right: 100px;
padding: 6px 40px;
z-index: 9980;
transition: .4s;

border-radius: 50%;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;

width:100px;
height:100px;
background-color: #005FFF;
color:white;
border:1px solid blue;
}

.fixed_btn:hover{
    background-color:#75A9FF;
color:blue;
    
    border:1px solid blue;
}

.userdate{
    background-color:#343a40;
    color:white;
    text-align: right;
    padding-right:150px;
    
}
.user{
    margin-bottom:0px; 
}
.nav-link{
    text-align:right;
    margin-right:30px;
}