<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link th:href="@{/css/buy_pre.css}" rel="stylesheet" />

</head>

<body>

<header>

    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><strong>Sympathies</strong></a>
        <div class="userdate">
            <p class="user" th:text="${userName}+'さん' + ' ' + ${userPoint} + 'ポイント' " />
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01"
                aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a th:href="@{history(usr=${usr})}" class="text-white nav-link">購入一覧</a>
                </li>
                <li class="nav-item active">
                    <a th:href="@{setting(usr=${usr})}" class="text-white nav-link">設定</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/">ログアウト</a>
                </li>
            </ul>

        </div>
    </nav>

    <!-- <li><a th:href="@{setting(usr=${usr})}" class="text-white">設定</a></li> -->


</header>

    <main>
        <div class="container">

            <div class="row">
                <div class="goods_iamge col-md-5">
                    <div th:if="${tf}">
                        <img class="image" th:src="${path}" style="height: 350px;" />
                    </div>
                    <div th:unless="${tf}">
                        <img class="image" th:src="${path}" style="height: 350px; filter: blur(9px);" />
                    </div>
                </div>

                <div class="goods_all col-md-6">

                    <h2 class="goods_name" th:text="${name}" />
                    </h2>

                    <h4>商品説明</h4>
                    <p class="goods_detail" th:text="${description}" />
                    
                    <p class="senduser" th:text="'出品者 .....'+${sellUser}" />
                    <h3 th:text="${point} + 'p'" />
                    
                </div>

            </div>

            <div class="form-group">

                <form class="buy" th:action="'buy?usr='+${usr}+'&id='+${id}" method="post">
                    <input type="submit" value="購入" />
                </form>

                <br>

                <form class="cansel" th:action="'main?usr='+${usr}" method="post">
                    <input type="submit" value="キャンセル" />
                </form>
            </div>


            <div class="subtitle">
                <h2>おすすめ商品一覧</h2>
                <p></p>
            </div>

            <div class="row">

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                            xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                            role="img" aria-label="Placeholder: Thumbnail">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#DDDDDD" />
                            <text x="50%" y="50%" fill="black" dy=".3em">No image</text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">
                                <ul>
                                    <li>商品名: 金曜2限地理学の参考資料</li>
                                    <li>説明: 授業の理解が深まる資料</li>
                                    <li>必要ポイント： 18</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                            xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                            role="img" aria-label="Placeholder: Thumbnail">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#DDDDDD" /><text x="50%" y="50%" fill="black"
                                dy=".3em">No image</text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">
                                <ul>
                                    <li>商品名: 火曜3限経済学のノート</li>
                                    <li>説明: 授業の要点をまとめたノート</li>
                                    <li>必要ポイント： ７</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                            xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                            role="img" aria-label="Placeholder: Thumbnail">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#DDDDDD" /><text x="50%" y="50%" fill="black"
                                dy=".3em">No image</text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">
                                <ul>
                                    <li>商品名: 月曜５限哲学のノート</li>
                                    <li>説明: 授業の要点をまとめたノート</li>
                                    <li>必要ポイント： 10</li>
                                </ul>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </main>

    <footer class="text-muted">
        <div class="footer_design">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>&copy; 2019 Sympathies All Right Reserved.</p>
            <p>楽天株式会社 インターンシップ 二子玉川 夏の陣 2019</p>
        </div>
    </footer>

</body>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

</html>


</html>