<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>ログインページ | Sympathies</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/index.css}" rel="stylesheet" />
	<link th:href="@{/css/login.css}" rel="stylesheet" />
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	

</head>

<body>
	<header>
		<nav class="navbar navbar-light" style="background-color:cornflowerblue;">
			<a class="navbar-brand" href="#">Navbar</a>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a> <a
						class="nav-item nav-link" href="#">Features</a>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<form class="form-signin" th:action="'main'" method="post" th:object="${inputUsr}">
			<h2>Login</h2>
			<label for="inputEmail" class="sr-only">Email address</label> <input type="text" value="init"
				th:field="*{mail}" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
			<label for="inputPassword" class="sr-only">Password</label> <input type="text" value="init"
				th:field="*{pass}" id="inputPassword" class="form-control" placeholder="Password" required>
			<button class="btn btn-lg btn-primary btn-block" type="submit">ログイン
			</button>
		</form>
	</div>
</body>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

</html>