<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p>メインページ</p>
<!--<p th:text="${inputMail.usr}+'さん、こんにちわ'" />-->
<!--<p th:text="${name}+'さん、こんにちわ'" />-->
<p th:text="${usr}+'さん、こんにちわ'" />

<form th:action="'setting?usr='+${usr}" method="post">
    <input type="submit" value="設定" />
</form>

<form th:action="'buy_pre?usr='+${usr}+'&id=3'" method="post">
    <input type="submit" value="購入" />
</form>

<form th:action="'sell_pre?usr='+${usr}" method="post">
    <input type="submit" value="出品" />
</form>

<form th:action="'history?usr='+${usr}" method="post">
    <input type="submit" value="取引履歴" />
</form>

<!--<tr th:if="${not #lists.isEmpty(goods)}">-->
    <ul class="item-view">
    <tr th:each="item : ${goods}">
        <li><p th:text="${item.name}"></li>
        <li><img th:src="${item.path}"/></li>
<!--    <img th:src="${item.path}"/>-->
    </tr>
    </ul>
<!--</tr>-->

</body>
</html>