<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p>メインページ</p>
<p th:text="${inputUsr.usr}+'さん、こんにちわ'" />
<!--<p th:text="${name}+'さん、こんにちわ'" />-->
<!--<p th:text="${usr}+'さん、こんにちわ'" />-->

<form th:action="'setting?usr='+${inputUsr.usr}" method="post">
    <input type="submit" />
</form>

<form th:action="'buy_pre?usr='+${inputUsr.usr}+'&id=0'" method="post">
    <input type="submit" />
</form>

<form th:action="'sell_pre?usr='+${inputUsr.usr}" method="post">
    <input type="submit" />
</form>

</body>
</html>